<div class="p-grid layout-dashboard">
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="overview-box card">
      <div class="overview-box-value">{{ numInterventions }}</div>
      <div class="overview-box-title">INTERVENTIONS</div>
      <img src="assets/layout/images/dashboard/graph-tasks.svg" alt="" />
      <!-- <div class="overview-box-status">
        +8.9% <i class="pi pi-arrow-circle-up"></i>
      </div> -->
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="overview-box card">
      <div class="overview-box-value">{{ numEquipes }}</div>
      <div class="overview-box-title">EQUIPES</div>
      <img src="assets/layout/images/dashboard/graph-purchases.svg" alt="" />
      <div class="overview-box-status">
        +67.2% <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="overview-box card">
      <div class="overview-box-value">21</div>
      <div class="overview-box-title">ISSUES</div>
      <img src="assets/layout/images/dashboard/graph-issues.svg" alt="" />
      <div class="overview-box-status">
        +3.0% <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="overview-box card">
      <div class="overview-box-value">42</div>
      <div class="overview-box-title">MESSAGES</div>
      <img src="assets/layout/images/dashboard/graph-messages.svg" alt="" />
      <div class="overview-box-status">
        +12.5% <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-xl-12">
    <div class="card card-w-title">
      <h5>Calendier</h5>
      <p-fullCalendar
        [events]="events"
        [options]="fullcalendarOptions"
      ></p-fullCalendar>
    </div>
  </div>
</div>
