<div class="login-body">
    <p-toast></p-toast>
    <div class="card login-panel p-fluid">
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-12 p-sm-6 p-md-6 logo-container">
                    <span class="guest-sign-in">un Code a etait envoyez a ton email</span>
                </div>
                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->
                    <label>Username</label>
                    <div class="login-input">
                        <input id="input" type="text" [(ngModel)]="collaborateur.email" pInputText disabled>
                    </div>
                    <!-- </h:panelGroup> -->
                </div>
                <div class="p-col-12 password-container">
                    <!-- <h:panelGroup> -->
                    <label>donner le code</label>
                    <div class="login-input">
                        <input pInputText type="password" [(ngModel)]="code" />
                    </div>
                    <!-- </h:panelGroup> -->
                </div>
                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->

                    <div class="login-input" [hidden]="!verif">
                        <label>nouvel password</label>
                        <input id="" type="text"  [(ngModel)]="user.password" pInputText >
                    </div>
                <div class="p-col-12 p-sm-6 p-md-6">
                    <button pButton type="button" icon="pi pi-sign-in"   label="Sign In" (click)="verification()" ></button>
                </div>
            </div>

        </div>
    </div>
</div>
