

<div class="card" style="height: 1000px">
    <div class="card-body">
        <div class="form-group">
            <label>Membre Equip</label>
            <select class="form-control" (change)="isSelected($event)" pInputText>
                <option>---select value-----</option>
                <option *ngFor="let c of collaborateurs" [value]="c.codeCollaborateur"> {{c.fullname}}</option>
            </select>
            <label >Ref Equipe</label>
            <input
                    type="text"
                    class="form-control"
                    pInputText
                    [(ngModel)]="collaborateur.equipe.ref"
            />
        </div>
    </div>
    <div class="p-card-footer">
        <button pButton  label="Ajout"  class="p-button-text" (click)="saveCollaboraateur()"></button>
    </div>
    <div class="card">


        <p-table #dt [value]="MembresEquipe" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['reference','total','totalPaye']"
                 [(selection)]="selectes" [rowHover]="true" dataKey="id"
                 styleClass="p-datatable-customers"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    <h5 class="p-m-0">Manage Intervention</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="code">code <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="libelle">libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                    <th pSortableColumn="dateDeProbleme">dateDeProbleme <p-sortIcon field="dateDeProbleme"></p-sortIcon></th>
                    <th pSortableColumn="dateDebut">dateDebut <p-sortIcon field="dateDebut"></p-sortIcon></th>
                    <th pSortableColumn="dateFin">dateFin <p-sortIcon field="dateFin"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-membresEquipe>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="membresEquipe"></p-tableCheckbox>
                    </td>
                    <td>{{ membresEquipe.equipe.ref}}</td>
                    <td>{{ membresEquipe.membreEquipe.collaborateur.codeCollaborateur}}</td>



                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(intervention)"></button>
                        <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(intervention)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(intervention)"></button>
                    </td>
                </tr>
            </ng-template>
<!--            <ng-template pTemplate="summary">-->
<!--                <div class="p-d-flex p-ai-center p-jc-between">-->
<!--                    In total there are {{items ? items.length : 0 }} items.-->
<!--                </div>-->
<!--            </ng-template>-->
        </p-table>
    </div>
</div>
