<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Commande Edit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="ref">Ref</label>
            <input type="text" pInputText id="ref" [(ngModel)]="selectedEquipe.ref" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selectedEquipe.ref">ref is required.</small>
        </div>
        <div class="p-field">
            <label for="libelle">libelle</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="selectedEquipe.libelle" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selectedEquipe.libelle">libelle is required.</small>
        </div>



        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
