<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Commande Edit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
         <div class="p-field">
        <label for="ref">Refernce</label>
        <input
                type="text"
                pInputText
                id="ref"
                [(ngModel)]="selectedEquipe.ref"
                required
                autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !selectedEquipe.ref"
        >ref is required.</small
        >
    </div>
        <div class="p-field">
            <label for="ref">Code</label>
            <input
                    type="text"
                    pInputText
                    id="code"
                    [(ngModel)]="selectedEquipe.code"
                    required
                    autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !selectedEquipe.code"
            >ref is required.</small
            >
        </div>
        <div class="p-field">
            <label for="libelle">libelle</label>
            <input
                    type="text"
                    pInputText
                    id="libelle"
                    [(ngModel)]="selectedEquipe.libelle"
                    required
                    autofocus
            />
            <small class="p-invalid" *ngIf="submitted && !selectedEquipe.libelle"
            >libelle is required.</small
            >
        </div>
        <div class="p-field">
            <label>Membre Equip</label>
            <select class="form-control" (change)="isSelected($event)" pInputText>
                <option [value]=''>---select value-----</option>
                <option *ngFor="let c of collaborateurs" [value]="c.codeCollaborateur">
                    {{ c.fullname }}
                </option>
            </select>
        </div>



        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Edit" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
