<!--<div class="p-card" style="height: 1000px">-->
<!--    <div class="p-card-body" >-->
<!--        <div class="p-field">-->
<!--            <label for="">magasin</label>-->
<!--            <select class="form-control" pInputText (change)="isSelected($event)" [(ngModel)]="velues">-->
<!--                <option [value]=''>-&#45;&#45;select value-&#45;&#45;&#45;&#45;</option>-->
<!--                <option *ngFor="let c of magasins" > {{c.reference}}</option>-->
<!--            </select>-->
<!--            <small class="p-invalid" *ngIf="submitted && !selected.magasin.reference">magasin is required.</small>-->
<!--        </div>-->
<!--        <div class="p-field">-->
<!--            <label for="">material</label>-->
<!--            <select class="form-control" pInputText (change)="isSelecte($event)" [(ngModel)]="valeur">-->
<!--                <option *ngFor="let c of materials" [value]="c.reference"> {{c.reference}}</option>-->
<!--            </select>-->

<!--            <small class="p-invalid" *ngIf="submitted && !selected.material.reference">material is required.</small>-->
<!--        </div>-->
<!--        <div class="p-field">-->
<!--            <label for="qte">quantite</label>-->
<!--            <input type="number" pInputText id="qte" [(ngModel)]="selected.qte" required autofocus />-->
<!--            <small class="p-invalid" *ngIf="submitted && !selected.qte">qte is required.</small>-->
<!--        </div>-->
<!--        <button pButton  label="Ajout"  class="p-button-text" (click)="evaluate()" ></button>-->
<!--    </div>-->
<!--    &lt;!&ndash;    <p-table  [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['reference','total','totalPaye']"&ndash;&gt;-->
<!--    &lt;!&ndash;              [(selection)]="selectes" [rowHover]="true" dataKey="id"&ndash;&gt;-->
<!--    &lt;!&ndash;              styleClass="p-datatable-customers"&ndash;&gt;-->
<!--    &lt;!&ndash;              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">&ndash;&gt;-->
<!--    &lt;!&ndash;        <ng-template pTemplate="caption">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">&ndash;&gt;-->
<!--    &lt;!&ndash;                <h5 class="p-m-0">Manage Intervention</h5>&ndash;&gt;-->
<!--    &lt;!&ndash;                <span class="p-input-icon-left">&ndash;&gt;-->
<!--    &lt;!&ndash;                        <i class="pi pi-search"></i>&ndash;&gt;-->
<!--    &lt;!&ndash;                        <input pInputText type="text"  placeholder="Search..." />&ndash;&gt;-->
<!--    &lt;!&ndash;                    </span>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ng-template pTemplate="header">&ndash;&gt;-->
<!--    &lt;!&ndash;            <tr>&ndash;&gt;-->
<!--    &lt;!&ndash;                <th style="width: 3rem">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>&ndash;&gt;-->
<!--    &lt;!&ndash;                </th>&ndash;&gt;-->
<!--    &lt;!&ndash;                <th>Magasin </th>&ndash;&gt;-->
<!--    &lt;!&ndash;                <th>Material</th>&ndash;&gt;-->
<!--    &lt;!&ndash;                <th>qte</th>&ndash;&gt;-->
<!--    &lt;!&ndash;                <th [hidden]="!editDialog"></th>&ndash;&gt;-->
<!--    &lt;!&ndash;            </tr>&ndash;&gt;-->
<!--    &lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--    &lt;!&ndash;        <ng-template pTemplate="body" let-stock>&ndash;&gt;-->
<!--    &lt;!&ndash;            <tr>&ndash;&gt;-->
<!--    &lt;!&ndash;                <td>&ndash;&gt;-->
<!--    &lt;!&ndash;                    <p-tableCheckbox [value]="stock"></p-tableCheckbox>&ndash;&gt;-->
<!--    &lt;!&ndash;                </td>&ndash;&gt;-->
<!--    &lt;!&ndash;                <td>{{ stock.magasin.reference}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;                <td>{{ stock.material.reference}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;                <td>{{stock.qte}}</td>&ndash;&gt;-->
<!--    &lt;!&ndash;                <td [hidden]="!editDialog">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-help p-mr-2" (click)="edit(stock)"></button>&ndash;&gt;-->
<!--    &lt;!&ndash;                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(stock)"></button>&ndash;&gt;-->
<!--    &lt;!&ndash;                </td>&ndash;&gt;-->
<!--    &lt;!&ndash;            </tr>&ndash;&gt;-->
<!--    &lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--    &lt;!&ndash;    </p-table>&ndash;&gt;-->
<!--</div>-->
<p-dialog
        [(visible)]="createDialog"
        [style]="{ width: '1000px' }"
        [modal]="true"
        styleClass="p-fluid"
>
    <p-header><h2>Equipe Details</h2> <span style="position:relative; left: 180px;"> </span> </p-header>
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="">magasin</label>
            <select class="form-control" pInputText (change)="isSelected($event)" [(ngModel)]="velues">
                <option [value]=''>---select value-----</option>
                <option *ngFor="let c of magasins" > {{c.reference}}</option>
            </select>
            <small class="p-invalid" *ngIf="submitted && !selected.magasin.reference">magasin is required.</small>
        </div>
        <div class="p-field">
            <label for="">material</label>
            <select class="form-control" pInputText (change)="isSelecte($event)" [(ngModel)]="valeur">
                <option *ngFor="let c of materials" [value]="c.reference"> {{c.reference}}</option>
            </select>

            <small class="p-invalid" *ngIf="submitted && !selected.material.reference">material is required.</small>
        </div>
        <div class="p-field">
            <label for="qte">quantite</label>
            <input type="number" pInputText id="qte" [(ngModel)]="selected.qte" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.qte">qte is required.</small>
        </div>
        <button pButton  label="Ajout"  class="p-button-text" (click)="evaluate()" ></button>

    </ng-template>
</p-dialog>

