<div class="login-body">
  <p-toast></p-toast>
  <div class="card login-panel p-fluid">
    <div class="login-panel-content">
      <div class="p-grid">
        <div class="p-col-12 p-sm-6 p-md-6 logo-container">
          <span class="guest-sign-in" style="font-size: 2rem; font-weight: bold">Bienvenue</span>
        </div>
        <div class="p-col-12 username-container">
          <!-- <h:panelGroup> -->
          <label>Nom Utilisateur</label>
          <div class="login-input" >
            <input id="input" type="text" [(ngModel)]="user.login" pInputText>
          </div>
          <!-- </h:panelGroup> -->
        </div>
        <div class="p-col-12 password-container">
          <!-- <h:panelGroup> -->
          <label>Mot de Passe</label>
          <div class="login-input">
            <input pInputText type="password" [(ngModel)]="user.password" />
          </div>
          <!-- </h:panelGroup> -->
        </div>
        <div class="p-col-12 p-sm-6 p-md-6 rememberme-container">
          <p-checkbox></p-checkbox>
          <label> Sauvegarder </label>
        </div>

        <div class="p-col-12 p-sm-6 p-md-6 forgetpassword-container">
          <a href="#" class="forget-password" style="color:#12a846 " (click)="forgotpass()">Mot de passe oublie ?</a>
        </div>

        <div class="p-col-17 p-sm-9 p-md-6">
          <button pButton type="button"style="background-color: #12a846;border: none" icon="pi pi-sign-in" label="Sign In" (click)="signIn()" ></button>
        </div>
      </div>

    </div>
  </div>
</div>
