<div class="p-grid layout-dashboard">
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/commande">
    <div class="overview-box card">
      <div class="overview-box-value">14</div>
      <div class="overview-box-title">DEMANDES CONGE</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/commande">
    <div class="overview-box card">
      <div class="overview-box-value">8</div>
      <div class="overview-box-title">TACHES VALIDEE</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div
    class="p-col-12 p-md-6 p-lg-3"
    routerLink="/admin/view/admin-collaborateur"
  >
    <div class="overview-box card">
      <div class="overview-box-value">27</div>
      <div class="overview-box-title">COLLABORATEURS</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/equipes">
    <div class="overview-box card">
      <div class="overview-box-value">2</div>
      <div class="overview-box-title">EQUIPES</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-3 p-lg-3">
    <div class="timeline card card-w-title">
      <h5>Demande Conge</h5>
      <ul>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Amine Bayoud </span>
          <span class="timeline-event-time">10 jours</span>
          <p>Décès : Ma grand-mère est morte , je ne serai pas disponible</p>
        </li>
      </ul>
    </div>
  </div>
</div>
