<div class="p-grid layout-dashboard">
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/commande">
    <div class="overview-box card">
      <div class="overview-box-value">14</div>
      <div class="overview-box-title">DEMANDES CONGE</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/commande">
    <div class="overview-box card">
      <div class="overview-box-value">8</div>
      <div class="overview-box-title">TACHES VALIDEE</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div
    class="p-col-12 p-md-6 p-lg-3"
    routerLink="/admin/view/admin-collaborateur"
  >
    <div class="overview-box card">
      <div class="overview-box-value">27</div>
      <div class="overview-box-title">COLLABORATEURS</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3" routerLink="/admin/view/equipes">
    <div class="overview-box card">
      <div class="overview-box-value">2</div>
      <div class="overview-box-title">EQUIPES</div>
      <div class="overview-box-status">
        Infos <i class="pi pi-arrow-circle-up"></i>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-6">
    <div class="timeline card card-w-title">
      <h5>Demande Conge</h5>
      <ul>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Amine Bayoud </span>
          <span class="timeline-event-time">20 jours</span>
          <p>Décès : Ma grand-mère est morte , je ne serai pas disponible</p>
        </li>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Amina Khelfaoui </span>
          <span class="timeline-event-time">10 jours</span>
          <p>Maladie : Je ne peux pas venir travailler, je suis malade</p>
        </li>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Aziz Kadimi </span>
          <span class="timeline-event-time">5 jours</span>
          <p>Maladie : Je ne peux pas venir travailler, je suis malade</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-6">
    <div class="timeline card card-w-title">
      <h5>Taches</h5>
      <ul>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Amine Bayoud </span>
          <span class="timeline-event-time">Valide</span>
          <p>Installer les Systems d'exploitations dans les 5 Dell/Lenovo PC</p>
        </li>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Mehdi Hamdaoui </span>
          <span class="timeline-event-time">Non Valide</span>
          <p>
            Deviser le reseau en 3 sous reseaux et configurer les tables ip sans
            oublier de verifier connectivite
          </p>
        </li>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Saida Id-Younes</span>
          <span class="timeline-event-time">Non Valide</span>
          <p>Developper une Application Web de 4 pages</p>
        </li>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title"> Ziad Hachmi</span>
          <span class="timeline-event-time">Non Valide</span>
          <p>Installation et configuration D'un serveur DHCP et DNS</p>
        </li>
        <li>
          <i class="pi pi-users"></i>
          <span class="timeline-event-title">Miloud wld 9ahba </span>
          <span class="timeline-event-time">Non Valide</span>
          <p>Installation Base de donnees MYSQL</p>
        </li>
      </ul>
    </div>
  </div>
</div>
