<!--<main class="p-grid layout-dashboard" style="background-image: -moz-repeating-linear-gradient()">-->
<!--  <div class="p-col-12 p-md-6 infos">-->
<!--    <div class="label">-->
<!--      <span class="logo">GMAO</span>-->
<!--      <p>Never Give UP</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="p-col-12 p-md-6 btns">-->
<!--    <div class="card card-w-title links">-->
<!--      <h2>Connectez Vous</h2>-->
<!--      <button-->
<!--        pButton-->
<!--        type="button"-->
<!--        label="Administrateur"-->
<!--        class="p-button-success"-->
<!--        routerLink="/admin-login"-->
<!--        routerLinkActive="active"-->
<!--      ></button>-->
<!--      <button-->
<!--        pButton-->
<!--        type="button"-->
<!--        label="Chef d'equipe"-->
<!--        class="p-button-success"-->
<!--        routerLink="/chef-equipe-login"-->
<!--        routerLinkActive="active"-->
<!--      ></button>-->
<!--      <button-->
<!--        pButton-->
<!--        type="button"-->
<!--        label="Collaborateur"-->
<!--        class="p-button-success"-->
<!--        routerLink="/collaborateur-signin"-->
<!--        routerLinkActive="active"-->
<!--      ></button>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->

<main
  class="p-grid layout-dashboard"
  style="
    background-image: url('./././assets/layout/images/pic.jpg');
    background-size: 101%;
    background-repeat: no-repeat;
  "
>
  <div class="p-col-12 p-md-6 infos">
    <div class="label">
      <span class="logo">GMAO</span>
    </div>
  </div>
  <div class="btns">
    <div class="card card-w-title links">
      <h2>Connectez Vous</h2>
      <button
        pButton
        type="button"
        label="Administrateur"
        class="p-button-success"
        routerLink="/admin-login"
        routerLinkActive="active"
      ></button>
      <button
        pButton
        type="button"
        label="Chef d'equipe"
        class="p-button-success"
        routerLink="/chef-equipe-login"
        routerLinkActive="active"
      ></button>
      <button
        pButton
        type="button"
        label="Collaborateur"
        class="p-button-success"
        routerLink="/collaborateur-signin"
        routerLinkActive="active"
      ></button>
    </div>
  </div>
</main>
