.logo {
  color: #537f2d;
  font-size: 5rem;
}

main {
  padding: 20px;
  height: 100vh;
}

.links {
  text-align: center;
  margin-top: 40px;
  width: 60%;
  height: 55%;
}
h1,
h2 {
  margin-bottom: 40px;
}
button {
  font-size: 1.5rem;
  width: 60%;
  margin: 7px 0;
  text-transform: uppercase;
}
p {
  margin-left: 20px;
  font-size: 2rem;
  color: #8c8d8a;
}

.label {
  margin-left: 150px;
  margin-top: 70px;
}
