<div class="p-card-body">
    <div class="p-field">
        <label for="">magasin</label>
        <select class="form-control" pInputText (change)="isSelected($event)">

            <option *ngFor="let c of magasins" > {{c.reference}}</option>
        </select>
        <small class="p-invalid" *ngIf="submitted && !stock.magasin.reference">magasin is required.</small>
    </div>
    <div class="p-field">

<!--        <p-dropdown  [options]="this.values" [ngModel]="material">-->

<!--        </p-dropdown>-->
        <label for="">material</label>
            <select class="form-control" pInputText (change)="isSelecte($event)">

                <option *ngFor="let c of materials" [value]="c.reference"> {{c.reference}}</option>
            </select>

        <small class="p-invalid" *ngIf="submitted && !stock.material.reference">material is required.</small>
    </div>
    <div class="p-field">
        <label for="qte">quantite</label>
        <input type="number" pInputText id="qte" [(ngModel)]="stock.qte" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !stock.qte">qte is required.</small>
    </div>
</div>
<div class="p-card-footer">
    <button pButton  label="Ajout"  class="p-button-text" (click)="evaluate()" ></button>
</div>
